<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ayurveda Wellness</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='extra.css')}}">
</head>

<body>
  <header>
    <div class="container">
      <h1>Ayurveda Wellness</h1>
      <p>Unlock the ancient wisdom of Ayurveda for a balanced and harmonious life. Discover the secrets of nature’s healing science.</p>
    </div>
  </header>

  <main>
    <section class="intro">
      <div class="container">
        <h2>Discover Your Ayurveda Dosha</h2>
        <p>Ayurveda teaches us that each individual has a unique constitution, known as a "dosha." These doshas—Vata, Pitta, and Kapha—represent the fundamental energies that shape your body, mind, and spirit. By understanding your dosha, you can make lifestyle and dietary choices that are tailored to your personal needs, fostering balance, vitality, and longevity.</p>
        <p>Embark on your journey of self-discovery and healing with Ayurveda. Take the first step to learn more about your body and mind's natural balance.</p>
        <button class="btn-check-yourself"><a href="{{ url_for('home') }}">Check Yourself</a></button>

      </div>
    </section>

    <section class="features">
      <div class="container">
        <h2>Why Ayurveda?</h2>
        <p>Ayurveda is more than just a medical system—it’s a way of life. This ancient healing tradition from India emphasizes the interconnectedness of the body, mind, and spirit. By aligning your lifestyle with your body's natural rhythms, you can improve digestion, boost energy, reduce stress, and enhance mental clarity. It offers natural remedies that nurture both the body and soul, supporting overall wellness and preventing illness.</p>
        <p>The beauty of Ayurveda lies in its ability to restore balance without relying on synthetic medications. Embrace a holistic approach to health and wellness, guided by the principles of Ayurveda, to achieve optimal living and inner peace.</p>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2024 Ayurveda Wellness. All rights reserved. Designed with love for a healthier future.</p>
    </div>
  </footer>
</body>
</html>
